:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f4f6f4;
  font-weight: bold;
  background: linear-gradient(#4bd888, rgb(22, 22, 22), rgb(112, 38, 161));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: block;
  background-color: #433f41;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.3;
  box-shadow: -8.5px 6px 2px rgba(23, 5, 35, 0.507);
}
ul {
  /* color: #c29779; */
  list-style-type: none;
}
  
p {
  color: #1c0208;
  font-weight: bold;
  text-shadow: 2px 2px 4px #de2828;
}

a {
  width: 100%;
  font-family: fantasy;
  color: #3ac27e;
  text-decoration: inherit;
  transition: 0.2s;
}
a:hover {
  color: #ba53f2;
  text-shadow: 2px 2px 4px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  padding-left: 40px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.list {
  display: flex;
  border: 2px solid #0d0b08;
  border-radius: 3px;
  width: 300px;
  height: auto;
  list-style-type: none;
  background: linear-gradient(#36ff83f7, #490867f7);
}
.list li {
  padding: 10px 20px;
  border: 3px solid #d7a118;
  background-color: #433f41;
}
.list li:hover {
  background: linear-gradient(#36ff83f7, #490867f7);
  color: #0c080d;
  border: 3px double #433f41;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000;
}

span {
  color: #893ac2;
  text-shadow: 2px 2px 4px #000;
}

h2 {
  color: #d8bc4b;
  font-weight: lighter;
  text-shadow: 2px 2px 4px #000;
}

h3 {
  color: #3ac27e;
  text-shadow: 2px 2px 4px #000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
